/* Fix CRITIQUE pour les modals PrimeVue avec DaisyUI */
/* Ce fichier DOIT être chargé en dernier pour surcharger tous les autres styles */

.p-dialog.p-component {
  background-color: hsl(var(--b1) / 1) !important;
  color: hsl(var(--bc) / 1) !important;
}

.p-dialog .p-dialog-header {
  background-color: hsl(var(--b1) / 1) !important;
  color: hsl(var(--bc) / 1) !important;
  border-bottom: 1px solid hsl(var(--b3) / 1) !important;
}

.p-dialog .p-dialog-content {
  background-color: hsl(var(--b1) / 1) !important;
  color: hsl(var(--bc) / 1) !important;
}

.p-dialog .p-dialog-footer {
  background-color: hsl(var(--b1) / 1) !important;
  color: hsl(var(--bc) / 1) !important;
  border-top: 1px solid hsl(var(--b3) / 1) !important;
}

/* Overlay/masque du modal */
.p-dialog-mask {
  background-color: rgba(0, 0, 0, 0.4) !important;
}

/* Titre du header */
.p-dialog .p-dialog-header .p-dialog-title {
  color: hsl(var(--bc) / 1) !important;
}

/* Bouton de fermeture */
.p-dialog .p-dialog-header .p-dialog-header-icon {
  color: hsl(var(--bc) / 0.7) !important;
}

.p-dialog .p-dialog-header .p-dialog-header-icon:hover {
  color: hsl(var(--bc) / 1) !important;
  background-color: hsl(var(--b3) / 0.3) !important;
}
